* {
   padding: 0;
   margin: 0;
   box-sizing: border-box;
}

section {
   display: flex;
   flex-direction: column;
   height: 100vh;
}

.map__img{
   width: 100%;
   height: 100vh
}

svg {
   width: 100%;
   height: 100%;
}

.map__list {
   width: 100%;
}

.map__list ul {
   padding-top: 20px;
   padding-bottom: 20px;
   max-width: 1200px;
   width: 95%;
   margin: 0 40px;
}



/* JS */

.list-of-states li.on {
   /* background: red; */
   /* color: white; */
   font-weight: bold;
   display: block;
}

.list-of-states li {
   display: none;
}

path.on {
   fill: red;
}

polygon.on {
   fill: red;
}
polyline.on {
   fill: red;
}

/* Hovers */

/* path:hover {
   fill: red;
   transition: fill 0.3s;
}

polygon:hover {
   fill: red;
   transition: fill 0.3s;
}

polyline:hover {
   fill: red;
   transition: fill 0.3s;
} */


#states *.on {
   fill: red;
 }

 /* Parrafo de la cards */

 p {
    font-size: 15px;
 }

 /* Vendidos */

#st2808,#st2810,#st2812,#st2814,#st2816,#st2819,#st2821,#st2823,#st2825,#st2827,#st2829,#st2831,#st2833,#st2835,#st2837,#st2843,#st2845,#st2847,#st2849,#st3505,#st3507,#st3513,#st3515,#st3521,#st3523,#st3525,#st3527,#st3529,#st3531,#st3539,#st3545,#st3547,#st3549,#st3551,#st3553,#st3555,#st3557,#st3559,#st3561,#st3563,#st3565,#st3567,#st3569,#st3579,#st3581,#st3617,#st3645,#st3647,#st3649,#st3651,#st3681,#st3683,#st3685,#st3693,#st3695,#st3697,#st3705,#st3707,#st3715,#st3717,#st3747,#st3749,#st3789,#st3791,#st3793,#st3795,#st3797,#st3805,#st3807,#st3809,
#st3811 {
   fill: red;
}

 /* apartados */

#st3537,
#st3699,
#st3701,
#st3703 {
      fill: yellow;
}

.card {
   -webkit-box-shadow: 10px 10px 18px 3px rgba(0,0,0,0.75);
   -moz-box-shadow: 10px 10px 18px 3px rgba(0,0,0,0.75);
   box-shadow: 10px 10px 18px 3px rgba(0,0,0,0.75);
   border-radius:  0px 0px 20px 20px;
   width: 15rem;
   height: 350px;
}

.card-header {
   width: 100%;
   color: white;
   background-color: #125E30;
}

.title-list {
   text-align: center;
   font-weight: bold;
}

.title-linderos {
   text-align: center;
}

.vendido {
   background-color: red;
}

.apartado {
   color: black;
   background-color: yellow;
}


@media (min-width: 768px) {
   section {
      display: flex;
      flex-direction: row;
      height: 100vh;
   }
   
   .map__img{
      width: 50%;
      height: 100vh
   }
   
   svg {
      width: 100%;
      height: 100%;
   }
   
   .map__list {
      width: 50%;
   }

   .map__list ul {
      padding: 120px;
   }

   .card {
      width: 15rem;
      height: 300px;
   }
}